---
import MenuIcon from '../icons/Menu.astro'
import XCloseIcon from '../icons/XClose.astro'
import EyeGlassIcon from '../icons/EyeGlass.astro'

const navItems = [
  { title: 'Experiencia', label: 'experiencia', url: '#experiencia' },
  { title: 'Proyectos', label: 'proyectos', url: '#proyectos' },
  { title: 'Educación', label: 'educación', url: '#educacion' },
  { title: 'Sobre mí', label: 'sobre-mi', url: '#sobre-mi' },
  {
    title: 'Contacto',
    label: 'contacto',
    url: 'mailto:ossolafabrizio@gmail.com',
  },
]
---

<header
  class="flex justify-center items-center mt-5 mx-auto fixed top-0 z-10 w-full"
>
  <!-- Desktop Navbar -->
  <nav
    class="hidden sm:flex flex-row gap-x-4 text-sm px-3 rounded-full font-medium flex-wrap items-center justify-center"
  >
    <div class="flex items-center gap-1 text-white">
      <h1 class="text-2xl font-bold select-none">FO</h1>
      <EyeGlassIcon class="size-7" />
    </div>
    {
      navItems.map((item) => (
        <a
          href={item.url}
          aria-label={item.label}
          class="p-2 hover:text-yellow-500 transition duration-200 text-gray-200"
        >
          {item.title}
        </a>
      ))
    }
  </nav>

  <!-- Hamburguer Menu Icon -->
  <nav
    class="sm:hidden flex items-center justify-between w-full px-5 mx-5 rounded-full"
  >
    <div class="flex items-center gap-1 text-white">
      <h1 class="text-2xl font-bold select-none">FO</h1>
      <EyeGlassIcon class="size-6" />
    </div>
    <button id="menu-button" class="text-gray-200 p-2 focus:outline-none">
      <MenuIcon class="size-7" />
    </button>
  </nav>

  <!-- Mobile Navbar -->
  <nav
    id="mobile-menu"
    class="sm:hidden fixed hidden flex-col gap-2 top-0 left-0 right-0 w-full backdrop-blur bg-white/50 text-white py-5 z-20"
  >
    <button id="close-menu" class="absolute top-4 right-5 focus:outline-none">
      <XCloseIcon class="size-5 text-white" />
    </button>
    {
      navItems.map((item) => (
        <a
          href={item.url}
          aria-label={item.label}
          class="mobile-link p-2 rounded-md hover:text-yellow-500 transition duration-200 text-gray-200 mx-auto bg-[#474747]"
        >
          {item.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  const menuButton = document.getElementById('menu-button')
  const closeMenuButton = document.getElementById('close-menu')
  const mobileMenu = document.getElementById('mobile-menu')
  const mobileLinks = document.querySelectorAll('.mobile-link')

  const closeMenu = () => {
    mobileMenu?.classList.add('hidden')
    mobileMenu?.classList.remove('flex')
  }

  menuButton?.addEventListener('click', () => {
    mobileMenu?.classList.remove('hidden')
    mobileMenu?.classList.add('flex')
  })

  closeMenuButton?.addEventListener('click', closeMenu)

  mobileLinks.forEach((link) => {
    link.addEventListener('click', closeMenu)
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
    }
  }
</style>
